{% extends 'website/base.html' %}

{% block content %}

            <!-- Header-->
            <header class="py-5">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Our mission is to aid local political candidates fund their campaigns.</h1>
                                <p class="lead fw-normal text-muted mb-4">
                                    It's no secret money helps drive the political process. On a national level there are large donors and PACs. These groups, 
                                    and the campaigns they support, have a wealth of historical donor data to help them identify potential contributors and target
                                    their fundraising efforts.

                                    <br><br>
                                    
                                    On a local level, it's a different story. Most candidates for school board, city council, or mayor don't have access to the same
                                    resources and wealth of data. This makes the prospect of getting involved to help your community thorugh political office daunting.
                                    It's a barrier to entry that we aim to help lower.

                                    <br><br>

                                    Politics is Local will access public records and store records of donors previous political contributions. As a local candidate, you
                                    may use our site to generate a list of potential donors who have contributed to similar campaigns in the past, who also reside within
                                    area you seek to represent. This will allow you to focus your fundraising efforts on those most likely to share your vision.
                                
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our founding</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
                        </div>
                    </div>
                </div>
            </section>


{% endblock %}