
{% extends 'website/base.html' %}

{% load static %}

{% load humanize %}

{% block content %}

<!-- Header-->
            <header class="bg-dark py-5">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center">
                        <div class="col-lg-8 col-xl-7 col-xxl-6">
                            <div class="my-5 text-center text-xl-start">
                                <h1 class="display-5 fw-bolder text-white mb-2">Connecting local candidates with their voters</h1>
                                <p class="lead fw-normal text-white-50 mb-4">Utilizing public records to enable local candidates to identify voters likely to share a vision who have donated in the past.</p>
                                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{% url 'list' %}">List</a>
                                    <a class="btn btn-outline-light btn-lg px-4" href="{% url 'about' %}">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'images/campaign.png' %}" alt="AI generated image" /></div>
                    </div>
                </div>
            </header>
            <!-- Features section-->
            <section class="py-5" id="features">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Currently Tracking</h2></div>
                        <div class="col-lg-8">
                            <div class="row gx-5">
                                <div class="col-xxl-6 col-md-12 mb-5"> <!-- Adjusted classes for wider cards -->
                                    <div class="card card-raised border-start border-primary border-4">
                                        <div class="card-body px-4">
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <div class="me-2">
                                                    <div class="display-5">{{ total_donors }}</div>
                                                    <div class="card-text">Donors Tracked</div>
                                                </div>
                                                <div class="icon-circle bg-primary text-white"><i class="material-icons">people</i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-6 col-md-12 mb-5"> <!-- Adjusted classes for wider cards -->
                                    <div class="card card-raised border-start border-success border-4">
                                        <div class="card-body px-4">
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <div class="me-2">
                                                    <div class="display-5">${{ total_contributed|intcomma }}</div>
                                                    <div class="card-text">Contributions Identified</div>
                                                </div>
                                                <div class="icon-circle bg-success text-white"><i class="material-icons">paid</i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            

{% endblock %}